body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

a {
	text-decoration: none;
	color: #5c5c5c;
}

a:visited {
}

a:hover {
	color: #1a1b1c;
}
	

.logo {
	float: left;
	background-image: url("./Logo.png");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: left center;
	height: 100px;
	width: 131px;
	padding-left: 200px;
	padding-right: 200px;
}

.logo:before {
	content: url("./Logo C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

.logo:hover {
	background-image: url("./Logo C.png");
}

  
.nav {
	background-color: #f1f3f4;
	height: 100px;
	margin: 0px;
	padding: 0px;
}

.spacer {
	float: left;
	height: 100px;
	width: 200px;
}

.topspacer {
	float: left;
	background-color: #ffffff;
	width: 100%;
	height: 100px;
}
	
.content {
	float: left;
	background-color: #ffffff;
	height: 200px;
	width: 200px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.contentsmall {
	float: left;
	background-color: #ffffff;
	height: 200px;
	width: 200px;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
}

.contentrow {
	margin: auto;
	width: 600px;
}

/* Projects */
#GBDP {
	background-image: url("./Images/Projects/GBDP.png");
}
#LEGONXT {
	background-image: url("./Images/Projects/LEGO NXT.png");
}
#Mechatronics {
	background-image: url("./Images/Projects/Mechatronics.png");
}
#Brakes {
	background-image: url("./Images/Projects/brakes.png");
}
#MGB {
	background-image: url("./Images/Projects/MGB.png");
}
#Seat {
	background-image: url("./Images/Projects/Innovative seat.png");
}
#Blender {
	background-image: url("./Images/Projects/Blender.png");
}
#Designability {
	background-image: url("./Images/Projects/Designability.png");
}
#Natura {
	background-image: url("./Images/Projects/Natura.png");
}

/*Projects Before (to prevent flashing*/

#GBDP:before {
	content: url("./Images/Projects/GBDP C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#LEGONXT:before {
	content: url("./Images/Projects/LEGO NXT C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#Mechatronics:before {
	content: url("./Images/Projects/Mechatronics C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#Brakes:before {
	content: url("./Images/Projects/brakes C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#MGB:before {
	content: url("./Images/Projects/MGB C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#Seat:before {
	content: url("./Images/Projects/Innovative seat C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#Blender:before {
	content: url("./Images/Projects/Blender C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#Designability:before {
	content: url("./Images/Projects/Designability C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#Natura:before {
	content: url("./Images/Projects/Natura C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

/*Projects Hover*/

#GBDP:hover {
	background-image: url("./Images/Projects/GBDP C.png");
}
#LEGONXT:hover {
	background-image: url("./Images/Projects/LEGO NXT C.png");
}
#Mechatronics:hover {
	background-image: url("./Images/Projects/Mechatronics C.png");
}
#Brakes:hover {
	background-image: url("./Images/Projects/brakes C.png");
}
#MGB:hover {
	background-image: url("./Images/Projects/MGB C.png");
}
#Seat:hover {
	background-image: url("./Images/Projects/Innovative seat C.png");
}
#Blender:hover {
	background-image: url("./Images/Projects/Blender C.png");
}
#Designability:hover {
	background-image: url("./Images/Projects/Designability C.png");
}
#Natura:hover {
	background-image: url("./Images/Projects/Natura C.png");
}

/* Skills */
#Arduino {
	background-image: url("./Images/Skills/Arduino.png");
	background-size: 80%;
}

#Matlab {
	background-image: url("./Images/Skills/matlab.png");
}

#Inventor {
	background-image: url("./Images/Skills/inventor.png");
}

#Catia {
	background-image: url("./Images/Skills/catia.png");
}

#Cpp {
	background-image: url("./Images/Skills/cpp.png");
}

#Css {
	background-image: url("./Images/Skills/CSS.png");
}

#Html {
	background-image: url("./Images/Skills/HTML.png");
}

#SolidEdge {
	background-image: url("./Images/Skills/solid edge.png");
}

#Word {
	background-image: url("./Images/Skills/word.png");
}

#Powerpoint {
	background-image: url("./Images/Skills/powerpoint.png");
}

#Excel {
	background-image: url("./Images/Skills/excel.png");
}

#CADrow {
	background-image: url("./Images/Skills/CADrow.png");
	height: 200px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
}

#Coderow {
	background-image: url("./Images/Skills/Coderow.png");
	height: 600px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
}

#Officerow {
	background-image: url("./Images/Skills/Officerow.png");
	height: 200px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
}

#Electronicsrow {
	background-image: url("./Images/Skills/Electronicsrow.png");
	height: 200px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
}

#Mediarow {
	background-image: url("./Images/Skills/Mediarow.png");
	height: 200px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Skills:before (to prevent flashing)*/
#Arduino:before {
	content: url("./Images/Skills/Arduino C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Matlab:before {
	content: url("./Images/Skills/matlab C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Inventor:before {
	content: url("./Images/Skills/inventor C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Catia:before {
	content: url("./Images/Skills/catia C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Cpp:before {
	content: url("./Images/Skills/cpp C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Css:before {
	content: url("./Images/Skills/CSS C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Html:before {
	content: url("./Images/Skills/HTML C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#SolidEdge:before {
	content: url("./Images/Skills/solid edge C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Word:before {
	content: url("./Images/Skills/word C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Powerpoint:before {
	content: url("./Images/Skills/powerpoint C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Excel:before {
	content: url("./Images/Skills/excel C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#CADrow:before {
	content: url("./Images/Skills/CADrow C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Coderow:before {
	content: url("./Images/Skills/Coderow C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Officerow:before {
	content: url("./Images/Skills/Officerow C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Electronicsrow:before {
	content: url("./Images/Skills/Electronicsrow C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#Mediarow:before {
	content: url("./Images/Skills/Mediarow C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}

/* Skills:hover */
#Arduino:hover {
	background-image: url("./Images/Skills/Arduino C.png");
}

#Matlab:hover {
	background-image: url("./Images/Skills/matlab C.png");
}

#Inventor:hover {
	background-image: url("./Images/Skills/inventor C.png");
}

#Catia:hover {
	background-image: url("./Images/Skills/catia C.png");
}

#Cpp:hover {
	background-image: url("./Images/Skills/cpp C.png");
}

#Css:hover {
	background-image: url("./Images/Skills/CSS C.png");
}

#Html:hover {
	background-image: url("./Images/Skills/HTML C.png");
}

#SolidEdge:hover {
	background-image: url("./Images/Skills/solid edge C.png");
}

#Word:hover {
	background-image: url("./Images/Skills/word C.png");
}

#Powerpoint:hover {
	background-image: url("./Images/Skills/powerpoint C.png");
}

#Excel:hover {
	background-image: url("./Images/Skills/excel C.png");
}

#CADrow:hover {
	background-image: url("./Images/Skills/CADrow C.png");
}

#Coderow:hover {
	background-image: url("./Images/Skills/Coderow C.png");
}

#Officerow:hover {
	background-image: url("./Images/Skills/Officerow C.png");
}

#Electronicsrow:hover {
	background-image: url("./Images/Skills/Electronicsrow C.png");
}

#Mediarow:hover {
	background-image: url("./Images/Skills/Mediarow C.png");
}

/* Me */
#pen {
	background-image: url("./Images/Me/Pen.jpg");
	transform: rotate(-90deg);
}
#bath {
	background-image: url("./Images/Me/Bath.png");
}
#bmx {
	background-image: url("./Images/Me/bmx.png");
}
#iMeche {
	background-image: url("./Images/Me/ImechE.png");
}
#skate {
	background-image: url("./Images/Me/skate.png");
}
#linkedin {
	background-image: url("./Images/Me/linkedIN.png");
}

/* Me:before (to prevent flashing)*/
#pen:before {
	content: url("./Images/Me/Pen C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#bath:before {
	content: url("./Images/Me/Bath C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#bmx:before {
	content: url("./Images/Me/bmx C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#iMeche:before {
	content: url("./Images/Me/ImechE C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#skate:before {
	content: url("./Images/Me/skate C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#linkedin:before {
	content: url("./Images/Me/linkedIN C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
/* Me:hover */

#pen:hover {
	background-image: url("./Images/Me/Pen C.png");
	transform: rotate(0deg);
}

#pen:hover {
	background-image: url("./Images/Me/Pen C.png");
}
	
#bath:hover {
	background-image: url("./Images/Me/Bath C.png");
}
#bmx:hover {
	background-image: url("./Images/Me/bmx C.png");
}
#iMeche:hover {
	background-image: url("./Images/Me/ImechE C.png");
}
#skate:hover {
	background-image: url("./Images/Me/skate C.png");
}
#linkedin:hover {
	background-image: url("./Images/Me/linkedIN C.png");
}

.nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.nav ul li {
	width: 150px;
	height: 100px;
	display: inline-block; /* stack horizontally */
	border-style: solid;
	border-width: 0 0px; /* no border */
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	float: left;
}

.nav ul li a {
	list-style: none; /* no bullet */
}

#projects {
	background-image: url("./Images/Nav bar/Projects.png");
}

#skills {
	background-image: url("./Images/Nav bar/Skills.png");
}

#me {
	background-image: url("./Images/Nav bar/Me.png");
}

/* Nav before to prevent flashing */

#projects::before {
	content: url("./Images/Nav bar/Projects C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#skills::before {
	content: url("./Images/Nav bar/Skills C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#me::before {
	content: url("./Images/Nav bar/Me C.png");
	width: 0px;
	height: 0px;
	visibility: hidden;
}
#projects:hover {
	background-image: url("./Images/Nav bar/Projects C.png");
}

#skills:hover {
	background-image: url("./Images/Nav bar/Skills C.png");
}

#me:hover {
	background-image: url("./Images/Nav bar/Me C.png");
}

.subheading {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}

.topnav {
	background-color: #f1f3f4;
	height: 40px;
}

.topnavspacer {
	background-color: #f1f3f4;
	height: 40px;
	width: 700px;
	float: left;
}

#dysonrobot {
	background-image: url("./Images/GBDP/Dyson 360eye.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#vis {
	background-image: url("./Images/GBDP/Vis.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#challenges {
	background-image: url("./Images/GBDP/Challenge overview.png");
	float: left;
	background-color: #ffffff;
	height: 200px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#app {
	background-image: url("./Images/GBDP/app.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#conceptdevelopMent {
	background-image: url("./Images/GBDP/Concept DevelopMent.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#explodedkit {
	background-image: url("./Images/GBDP/Exploded Kit.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#NXTmaze {
	background-image: url("./Images/LEGONXT/NXTmaze.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#optimisepathplan {
	background-image: url("./Images/LEGONXT/Optimise Path Plan.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#optimisepath {
	background-image: url("./Images/LEGONXT/Optimise Path Explanation.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#gantry {
	background-image: url("./Images/Mechatronics/gantry.jpg");
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#mechatronicssketch {
	background-image: url("./Images/Mechatronics/mechatronics sketch.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#mechatronicsdata {
	background-image: url("./Images/Mechatronics/mechatronics data.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#finalwiringdiagram {
	background-image: url("./Images/Mechatronics/Final Wiring Diagram.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#mechatronicsfinaldesign {
	background-image: url("./Images/Mechatronics/Mechatronics final design.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#Disassembly {
	background-image: url("./Images/Brakes/Disassembly.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#Scan {
	background-image: url("./Images/Brakes/Scan.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#FEA {
	background-image: url("./Images/Brakes/FEA.PNG");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#WSS {
	background-image: url("./Images/Brakes/WSS.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#finalbrakes {
	background-image: url("./Images/Brakes/Final Brakes.JPG");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#finalwheel {
	background-image: url("./Images/Brakes/Final Wheel.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#carreveal {
	background-image: url("./Images/MGB/car reveal.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#timingplan {
	background-image: url("./Images/MGB/timing plan.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#engineremoval {
	background-image: url("./Images/MGB/engine removal.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#scanning {
	background-image: url("./Images/MGB/scanning.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#displayfront {
	background-image: url("./Images/MGB/display front.JPG");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#displayside {
	background-image: url("./Images/MGB/display side.JPG");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#bathphoto {
	background-image: url("./Images/MGB/bath photo.png");
	float: left;
	background-color: #ffffff;
	height: 300px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#seatbrainstorm {
	background-image: url("./Images/innovativeseat/seatbrainstorm.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#seatevaluation {
	background-image: url("./Images/innovativeseat/seatevaluation.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#seatCAD {
	background-image: url("./Images/innovativeseat/seat CAD.PNG");
	float: left;
	background-color: #ffffff;
	height: 300px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#seatconceptside {
	background-image: url("./Images/innovativeseat/seat concept side.jpg");
	float: left;
	background-color: #ffffff;
	height: 300px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#seatconceptangle {
	background-image: url("./Images/innovativeseat/seat concept angle.jpg");
	float: left;
	background-color: #ffffff;
	height: 300px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#seatwelding {
	background-image: url("./Images/innovativeseat/seat welding.jpg");
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#seatpresentation {
	background-image: url("./Images/innovativeseat/seatpresentation.png");
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#blender {
	background-image: url("./Images/Reverse Engineering/blender.jpg");
	float: left;
	background-color: #ffffff;
	height: 300px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#display1 {
	background-image: url("./Images/Reverse Engineering/display 1.jpg");
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#display2 {
	background-image: url("./Images/Reverse Engineering/display 2.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#healthleaderboard {
	background-image: url("./Images/Reverse Engineering/Health Leaderboard.png");
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 300px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#recipebook {
	background-image: url("./Images/Reverse Engineering/Recipe Book.png");
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 300px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#lid {
	background-image: url("./Images/Reverse Engineering/lid.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#lock {
	background-image: url("./Images/Reverse Engineering/lock.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#drainpipe {
	background-image: url("./Images/Reverse Engineering/drainpipe.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#buttons {
	background-image: url("./Images/Reverse Engineering/buttons.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#washingmachine {
	background-image: url("./Images/Reverse Engineering/washing machine.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#ceMentmixer {
	background-image: url("./Images/Reverse Engineering/ceMent mixer.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#mobilityscooter {
	background-image: url("./Images/Reverse Engineering/mobility scooter.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#centrifuge1 {
	background-image: url("./Images/Reverse Engineering/centrifuge 1.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-bottom: 50px;
	margin-top: 50px;
}
#centrifuge2 {
	background-image: url("./Images/Reverse Engineering/centrifuge 2.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-bottom: 50px;
}

#USDbrainstorm {
	background-image: url("./Images/USD/Self Checkout Analysis.PNG");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#USDConceptMap {
	background-image: url("./Images/USD/Concept Summary Map.PNG");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#USDevaluation {
	background-image: url("./Images/USD/Concept evaluation 3.PNG");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#USDdetail {
	background-image: url("./Images/USD/design development.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#USDprototyping {
	background-image: url("./Images/USD/prototyping.JPG");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-bottom: 50px;
	margin-top: 50px;
}
#USDprototype {
	background-image: url("./Images/USD/card prototype.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-bottom: 50px;
}
#USDfinalprototype {
	background-image: url("./Images/USD/final prototype.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#USDstoryboard {
	background-image: url("./Images/USD/Storyboard.PNG");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#GBDP2robots {
	background-image: url("./Images/CAD/2 robots POSTER.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: 130%;
	background-position: center center;
}

#grippersassembly {
	background-image: url("./Images/CAD/grippersassembly.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: 120%;
	background-position: center center;
}

#launcherexploded {
	background-image: url("./Images/CAD/launcherexploded.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#robotarmexploded {
	background-image: url("./Images/CAD/robotarmexploded.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: center center;
}

#snowmobileassembly {
	background-image: url("./Images/CAD/snowmobileassembly.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#profilephoto {
	background-image: url("./Images/index/me.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#sketchslideshow {
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#sketchDisplay {
	float: left;
	background-color: #ffffff;
	height: 564px;
	width: 564px;
	object-fit: contain;
}

#tt1 {
	background-image: url("./Images/CAD/tt1.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#tt2 {
	background-image: url("./Images/CAD/tt2.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#jf {
	background-image: url("./Images/CAD/jf.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#hpwm {
	background-image: url("./Images/CAD/hpwm.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#apostbaffle {
	background-image: url("./Images/CAD/a post baffle.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#UCDcad {
	background-image: url("./Images/CAD/UCDcad.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#mechatronicsflow {
	background-image: url("./Images/Code/mechatronicsflow.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#halldata {
	background-image: url("./Images/Code/halldata.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#locatedmagnets {
	background-image: url("./Images/Code/locatedmagnets.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#tileprocess {
	background-image: url("./Images/Code/tileprocess.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#tileGUI {
	background-image: url("./Images/Code/tileGUI.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#parceltrajectory {
	background-image: url("./Images/Code/parceltrajectory.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#springdamperfv {
	background-image: url("./Images/Code/springdamperfv.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#jdfweb {
	background-image: url("./Images/Code/jdfweb.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#uniphoto {
	background-image: url("./Images/uni/IDE photo.jpg");
	float: left;
	background-color: #ffffff;
	height: 450px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
}
#projectilepython {
	background-image: url("./Images/Code/projectilepython.jpg");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#gitimage {
	background-image: url("./Images/Code/git.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#NXTforwards {
	background-image: url("./Images/Code/Forwards Code Explanation.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#ProcessDiagram {
	background-image: url("./Images/PDD/Process Diagram.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#Pugh {
	background-image: url("./Images/PDD/Pugh.png");
	float: left;
	background-color: #ffffff;
	height: 400px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#craftkit {
	background-image: url("./Images/PDD/craftkit.png");
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#natura {
	background-image: url("./Images/PDD/natura.png");
	float: left;
	background-color: #ffffff;
	height: 550px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#fantasynatura {
	background-image: url("./Images/PDD/fantasynatura.png");
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#immersivefantasy {
	background-image: url("./Images/PDD/immersivefantasy.png");
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#fantasykit {
	background-image: url("./Images/PDD/fantasykit.png");
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#bmxanim {
	background-image: url("./Images/bmx/anim.gif");
	float: left;
	background-color: #ffffff;
	height: 350px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: 50px;
}
#excel {
	background-image: url("./Images/office/excel.gif");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#powerpoint {
	background-image: url("./Images/office/ppt.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#word {
	background-image: url("./Images/office/word.png");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#brakespose {
	background-image: url("./Images/MGB/brakespose.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#teamphoto {
	background-image: url("./Images/MGB/team photo.jpg");
	float: left;
	background-color: #ffffff;
	height: 500px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#hardwareposter {
	background-image: url("./Images/media/Hardware Poster.png");
	float: left;
	background-color: #ffffff;
	height: 600px;
	width: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
.slideshowbox {
	height: 20px;
	width: 4px;
	float: left;
	background-color: #d7dcdf;
}

.slideshowbox:hover {
	background-color: #adb3b6;
}

#month {
	writing-mode: vertical-rl;
	margin-left: 354px;
}

.topnav ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.topnav ul li {
	text-decoration: none;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: #d7dcdf;
	font-size: 12px;
	font-weight: bold;
}

.topnav ul li a {
	list-style: none;
	margin: 0 0;
}

.topnav ul li:hover {
	color: #63727a;
}


	